[2016-07-12 21:12] blalbrit opened #1 "Make update-marc for 856 sharing an independent service"
So we can manage these outside the context of releaseWF

[2016-07-12 21:13] blalbrit opened #2 "Add release tag management to Argo"
Project managers or other APO managers should be able to manage the release of items or collections to discovery apps without the need for intermediary support in PSM.  Add a button/dialog/etc that lets project managers set release tags.  It would invoke the DOR "release" service which marks the records and initiates the releaseWF.

[2016-07-12 21:14] blalbrit opened #3 "Verify that release="false" behaves as expected"
19 objects that had been released and indexed into Preview: http://searchworks-test.stanford.edu/preview/catalog?f%5Bcollection%5D%5B%5D=sr605np6062

These had:
1) release=false tags added to each object
2) run back through releaseWF
3) re-indexed

These were not withdrawn from the index as expected, but remained visible in Preview.

Here is the final set of expected behaviors ...

Discovery Dispa

[2016-07-12 21:15] blalbrit opened #4 "Complete Discovery Release Dispatcher"
Address remaining functional requirements or bug fixes (e.g., properly expressing release=false).

Align code to current DLSS software practice, monitoring and deployment

per @lmcglohon : Unable to do this until purl_fetcher is working on -prod

[2016-07-12 21:16] blalbrit opened #5 "PURL Fetcher updates - align with current DLSS practice"
Eliminate DOR Fetcher legacy. Confirm/revise output as needed

Test coverage, monitoring, new deployment, etc.

[2016-07-12 21:16] blalbrit opened #6 "Perpetual Preview"
See consul page https://consul.stanford.edu/display/GRYPHONDOR/Perpetual+Preview

Tasks:
- Modify PURL Fetcher output to include <release to="Preview"...>true</release> for all objects it reports
- Limit Preview environment to Stanford only (see if more restrictions are needed?)
- Establish new preview URL somewhere in the production realm
- Create/deploy preview indexer
  - requires (no)catkey op

[2016-07-12 21:26] blalbrit commented on #6
Requirements:
- [ ] establish production VM for perpetual preview app (sul-dlss/sw-indexer#71)
- [ ] Limit new Preview to stanford-only (sul-dlss/sw-indexer#71)
- [ ] Establish URL for new production perpetual preview (sul-dlss/sw-indexer#71)
- [ ] Add "ignore catkey" option to SW indexer (sul-dlss/sw-indexer#70)
- [ ] Create/deploy SW Preview indexer (sul-dlss/sw-indexer#72)
- [ ] Modify PURL Fet

[2016-07-12 21:27] blalbrit opened #7 "Reconcile new field names from DOR solr for PURL solr"

[2016-07-12 21:28] blalbrit opened #8 "Change purl-fetcher to purl-services"
Current purl-fetcher code should become purl-services analogous to dor-services. This will allow exposure of endpoints for purl-fetcher and purl-indexer.

[2016-07-12 21:28] blalbrit opened #9 "Modify sub-target parameter in the sw-indexing call (was: REST pattern for PUT/DELETE)"
Pattern for REST calls should retain simple sub-targets (subtarget=production/preview) not (subtarget[xxx]=true).

Should be PUT subtarget or DELETE subtarget

[2016-07-12 21:29] blalbrit opened #10 "Change release call from POST to PUT"
This change to happen in releasable (?) in DOR services?

Coordinate collateral tasks for DOR services upgrade.

[2016-07-12 21:30] blalbrit opened #11 "Implement the latest Rules of Thumb in dor-services"
Current code only looks for “the first image resource” to use as a thumbnail.  What the newer Rules of Thumb adds is to first look for a resource with attribute thumb=yes first and use it if it has a .jp2 in it (it would be an error not to, but if not the best thing is to ignore the indication I think).  See https://consul.stanford.edu/display/chimera/The+Rules+of+Thumb

The strategy is to publish

[2016-07-12 21:31] blalbrit opened #12 "Purl fetcher doc for collection information"
Expand Purl fetcher services to include collections/collection-members docs, basically matching the functionality of DOR Fetcher (but with the inclusion of release information?). This is needed so that the various indexers can determine collection membership for direct API-invoked indexing of collections.

[2016-07-12 21:32] blalbrit opened #13 "Implement collection profile"
See https://consul.stanford.edu/display/ARGO/Argo+Collection+Profile for overall description.

See https://consul.stanford.edu/display/ARGO/Argo+Collection+Profile+Implementation for details on the solr fields that support the profile.

[2016-07-12 21:33] blalbrit opened #14 "DOR services releasable should only test local collection release tags"
Releasable looks at local release tags then checks the collection for collection-release.  If the collection is (inappropriately) declared a member of itself, then this check recurses endlessly trying to find releasable information for the collection.  The releasability check for the collection should only look for local release tags there (and only what="collection" which I assume is already the

[2016-07-12 21:50] blalbrit commented on #10
- [ ] Facet value - access rights redundant facet value (world_qualified) see https://github.com/sul-dlss/dor-services/issues/218
- [ ] Publishable - if not published content, do not publish contentMD (we've gone back and forth on this, it might be this should be addressed in sul-embed rather than in data provisioning)

[2016-07-18 22:28] drh-stanford opened #15 "put release fixture data into stage"
items in DOR stage should have all permutations of the `<release>` tag information - e.g.,
- true/false
- dark/public
- etc.

[2016-07-18 22:40] drh-stanford opened #16 "create purl-dev solr index"
- get real druids from prod that have permutations of the `<release>` tags
- `/purl` on dev would have these real druids

[2016-07-18 22:41] #16 closed, assigned to nobody

[2016-07-20 20:20] blalbrit commented on #15
Objects needed:
- Collection released as collection
  *\* some child objects set to false (ie. blacklisted)
- Collection released as self
  *\* some child objects released as self
  *\* some child objects set to false
- Individual (ie. non-collection) objects released as self (both true/false)

[2016-07-20 21:11] blalbrit commented on #5
Test coverage is already high. 99%.
is_it_working & test to retrieve doc are already there.
Monitoring has been added (Honeybadger).
Deployment is complete.
Github repo is already ready.

Improve logging (#46).
Nagios needs to be added for indexing (#47).
Nagios needs to be added for fetcher output (#47).

[2016-07-20 21:23] blalbrit commented on #4
- prereq - purl-fetcher working on stage (should be ready to go)
- figure out monitoring for dispatcher (sul-dlss/discovery-dispatcher#41)
  *\* continuous process (heartbeat process)
  *\* static calls for documents / actions for is_it_working
- make sure release=false is working (sul-dlss/discovery-dispatcher#42)
- improve test coverage (sul-dlss/discovery-dispatcher#43)
- deployment (#36)

[2016-07-21 17:53] LynnMcRae opened #17 "Requirements for securing web based services"
Purl-fetcher -- in principle the information is as open to the world as the Purls themselves, but since you can extract a lot of information quickly, and get a complete list of purls, we should limit this to the Stanford domain only.

Dispatcher and SW Indexer -- individuals or blessed-program based access as well as Stanford domain.  Stanford domain only is a minimum need. Role/workgroup protecti

[2016-07-22 17:35] lmcglohon opened #18 "Analyze and combine the two solrconfig files used for preview"

[2016-07-22 20:07] blalbrit commented on #15
Item 1:
type=Collection
release = true
to=Searchworks
druid:bs646cd8717

[2016-07-22 20:08] blalbrit commented on #15
Item 2:
type=child object within released collection
release=true
to=Searchworks
druid:bb127ph8006

[2016-07-22 23:28] blalbrit commented on #15
Item 3:
type=blacklisted child object within released collection
release=false
to=Searchworks
druid:bb104kn2363

[2016-07-22 23:34] blalbrit commented on #15
Item 4:
type=collection object released as "self" (ie. child objects not automatically released)
release=true
to=Searchworks
druid: druid:gc297pb1101

[2016-07-22 23:37] blalbrit commented on #15
Item 5:
type=child object of Item 4 released as "self"
release=true
to=Searchworks
druid:cb901bd9678

[2016-07-22 23:39] blalbrit commented on #15
Item 6:
type=blacklisted child object of item 4 released as "self"
release=false
to=Searchworks
druid:ct824rp6982

[2016-07-22 23:45] blalbrit commented on #15
Item 7:
type=non-collection-based object released as "self"
release=true
to=Searchworks
druid:bv599bt4452

[2016-07-22 23:49] blalbrit commented on #15
Item 8:
type=non-collection-based object blacklisted as "self"
release=false
to=Searchworks
druid:cb783jw9314

[2016-07-22 23:49] blalbrit commented on #15
@LynnMcRae - I think I've covered the available permutations - can you verify?

[2016-07-23 00:02] blalbrit commented on #15
Note - getting multiple errors in the releaseWF - not sure if these are due to the instability of the environment or not, but a blocker for ticket completion.

release-members : Connection Error with url http://dorfetcher-stage.stanford.edu/collections/druid:gc297pb1101

release-publish : RSolr::Error::Http - 404 Not Found Error: Not Found URI: https://sul-solr.stanford.edu/solr/argo_test/select?w

[2016-07-23 00:26] blalbrit commented on #15
Okay - we can bypass releaseWF for these... just getting the data to PURL is all that's required. So, done.

[2016-07-23 00:26] #15 closed, assigned to blalbrit

[2016-07-25 16:15] blalbrit commented on #8
@LynnMcRae @lmcglohon - I think we decided to forego this. Can we close this story?

[2016-07-25 16:17] blalbrit commented on #2
Specific behaviors:
- in search results page, ability to release all items
- on collection page, ability to release collection
- on item page, ability to release (or blacklist) item

[2016-07-25 16:17] blalbrit commented on #2
@LynnMcRae - I think we started walking through some of this either last year or on the Argo sprint... did we have specific mocks (if not, we should sketch something out).

[2016-07-28 16:39] blalbrit commented on #3
Moved to actionable #69 and #42, closing this ticket.

[2016-07-28 16:40] #3 closed, assigned to nobody

[2016-07-28 16:47] blalbrit commented on #8
Decided to take a different approach on renaming github repos

[2016-07-28 16:47] #8 closed, assigned to nobody

[2016-07-28 17:04] blalbrit commented on #6
Story ticket covered by actionable tickets noted above. Closing this.

[2016-07-28 17:04] #6 closed, assigned to nobody

[2016-07-28 17:07] blalbrit commented on #4
This story is covered by tickets noted above. Closing story ticket.

[2016-07-28 17:07] #4 closed, assigned to nobody

[2016-07-28 17:08] blalbrit commented on #5
This story covered by actionable tix noted above. Closing story.

[2016-07-28 17:08] #5 closed, assigned to nobody

[2016-07-28 17:09] blalbrit commented on #7
Done - see sul-dlss/purl-fetcher#22

[2016-07-28 17:09] #7 closed, assigned to nobody

[2016-08-15 16:41] #18 closed, assigned to lmcglohon

[2016-08-15 18:50] lmcglohon opened #19 "Verify/define communication required between dispatcher and indexing service"

[2016-08-15 18:53] lmcglohon opened #20 "Verify purl-fetcher and dispatcher are communicating as expected when purl is updated"

[2016-08-15 18:54] lmcglohon opened #21 "verify that purl-fetcher is picking up changes to purl public files"

[2016-08-15 19:11] lmcglohon opened #22 "puppet request changes on how we mount purl to the purl-fetcher nodes"

[2016-08-15 19:12] lmcglohon opened #23 "Diagramming of current state for documentation"

[2016-08-15 23:13] drh-stanford commented on #21
This is working ok in stage now.

[2016-08-15 23:13] #21 closed, assigned to drh-stanford

[2016-08-16 01:41] drh-stanford commented on #21
Verified that the `published_at` field is correctly set in stage.

[code]

[2016-08-16 02:03] drh-stanford commented on #20
I've verified that the `/docs/changes` API is giving the correct results in stage.

The `/docs/deletes` API however is more puzzling to me. It correctly returns all of the deleted PURLs that are in the `.deletes` directory, but the `last_changed` dates look wrong to me. How do we know _when_ the PURL was deleted? Can we trust the timestamp of the file in the `.deletes` directory?

[2016-08-16 12:41] mejackreed commented on #20
Good question. I think currently PF is setting it to `Time.zone.now` https://github.com/sul-dlss/purl-fetcher/blob/master/app/models/purl.rb#L50

Should we be setting it from something different? I think this dates back to @peetucket's original implementation.

[2016-08-16 13:21] mejackreed opened #24 "Congruent Time zone approach needed"
Currently, PurlFetcher tries to store all `Time` references in UTC.

Discovery Dispatcher will make reference to times in Pacific.

We should really standardize all of this here, and probably need to discuss with team to come up with a solution.

[2016-08-16 13:29] mejackreed commented on #20
They seem to be communicating, though the time discrepancies may be causing unintended misses. See #24

[2016-08-16 13:34] mejackreed commented on #9
Note, this should be implemented so that multiples can be accommodated like so:

[code]

This is the standard way of encoding multiples in parameters in Rails and will work with both the client (DiscoveryDispatcher) and the server (BaseIndexer)

[2016-08-16 15:56] drh-stanford commented on #20
I think `deleted_at` should be the timestamp of the `.deletes` touch file.

[2016-08-16 15:58] drh-stanford commented on #20
From Jack: The other issue is that DD requests a time range in Pacific Standard Time. We need to make sure that it syncs up with UTC times used in PF correctly. (so we aren’t always requesting a time -8 hours off)

[2016-08-16 16:06] drh-stanford commented on #24
I think standard practice is to store dates in the database as UTC. the query param should require a timezone explicit date so it can convert to UTC at query time.

[2016-08-16 17:06] mejackreed commented on #24
Rails will go ahead and store in UTC for us. I think the issue we are running into is that we are requesting windows from DD in Pacific which don't correlate to what we are converting things to (UTC) in PF

[2016-08-16 19:08] drh-stanford commented on #24
If I'm reading the PF API correctly, it requires the times to be in UTC, so DD is indeed not complying with that -- see https://github.com/sul-dlss/discovery-dispatcher/blob/master/lib/discovery_dispatcher/monitor.rb#L10-L11

[2016-08-16 19:21] drh-stanford commented on #24
@mejackreed Are these changes to DD what you had in mind or am I off track? https://github.com/sul-dlss/discovery-dispatcher/compare/utc-time-for-api

[2016-08-16 19:44] mejackreed commented on #24
I think the Time.zone.now changes work. I'm less sure about why the PurlFetcher::API needs to normalize the dates. I think we also need to roll back the Pacific stuff here too: https://github.com/sul-dlss/discovery-dispatcher/blob/master/lib/discovery_dispatcher/purl_fetcher_manager.rb

[2016-08-16 21:41] mejackreed commented on #9
@blalbrit do you know if there are other consumers of base-indexer? Do we need to maintain backwards compatibility

[2016-08-16 23:18] drh-stanford commented on #20
We've fixed the `deleted_at` data problem and the times passed from DD to PF are in the correct timezone.

[2016-08-16 23:32] drh-stanford commented on #24
I'm still confused on the best practices here, but I think we can be sure that all our environments are in sync timezone-wise now (i.e., they all use the Rails default timezone of UTC) and we've merged the PRs that remove the Pacific stuff from DD. Are we at a point where we can close this issue?

(Note I tried to write some `/docs` controller tests that support different timezone input but it's c

[2016-08-17 13:03] mejackreed commented on #24
Verified that our fixes seemed to have solved the problem I saw yesterday. Steps to recreate:
1. Run (or wait for the run) of DD
2. Touch a file on purl mount
3. Wait for next run (or trigger a DD run)
4. You should see your modified file in PF response return using DD time window.

[2016-08-17 13:03] #24 closed, assigned to nobody

[2016-08-17 13:03] mejackreed commented on #20
I reran checks this  morning and things seem to be working well with our new time changes. Can we close?

[2016-08-17 13:04] mejackreed commented on #19
I would say that this is verified and indexing is commencing. Though there still needs to be changes made to API and crafted requests, but I would characterize those as changes/enhancements. +1 to close

[2016-08-17 14:07] #20 closed, assigned to drh-stanford

[2016-08-17 14:12] drh-stanford commented on #22
This is done for -dev and -stage. I think we can do -prod now.

[2016-08-18 14:08] blalbrit commented on #9
@mejackreed - sorry, missed this question when you wrote it. At the moment there aren't other consumers of base-indexer. The expectation is that other indexers like sw-indexer will be spawned from base-indexer, but none have done so yet, so no need to maintain backwards compatibility.

@lmcglohon - please confirm that I'm not talking off the top of my head?

[2016-08-18 14:19] mejackreed commented on #9
Currently base_indexer when receiving a `DELETE` will delete from all registered targets. Should it only delete from targets that are passed in now?

[2016-08-18 15:27] LynnMcRae commented on #9
I understood that one indexer call was to one subtarget, not many, hence the switch to a simple keyword parameter.  Dispatcher will see "searchworks" and "preview" as separate targets and make separate calls.  The sub-target convention was to allow one codebase to implement more than one target (originally for Spotlight to have one indexer for separate exhibit indexes, but applied here to sw and p

[2016-08-18 15:40] LynnMcRae commented on #9
While DELETE does mean the PURL is gone and likely should disappear from all subtargets the indexer supports, it feels odd to ignore an aplicit parameter on a service call.  Dispatcher will make separate DELETE calls for what it sees as separate targets, so there should be appropriate coverage.  If we intend a "delete all" call then that should be explicit? but that would mean dispatcher would hav

[2016-08-18 16:14] blalbrit commented on #9
Could I ask for clarification re: DELETE?
two cases:

1) PURL is deleted and should be removed from all indexes
2) PURL is withdrawn from one or more indexes but still exists

Does the code handle both cases the same?

[2016-08-18 16:32] lmcglohon commented on #9
@blalbrit @mejackreed Revs uses base indexer

[2016-08-18 16:35] LynnMcRae commented on #9
@blalbrit good point, we don't distinguish in the API the reason for the delete, either release=false for one target or the purl itself withdrawn, so the subtarget needs to be honored since it might be for the former.

[2016-08-18 18:26] mejackreed commented on #9
After standup today the team talked about the possible scenarios/use cases for base-indexer's api. The proposed changes are as follows:

[code]

This change removes the ability to index to multiple subtargets on one request (backwards imcompatibility issue). And also changes the subtargets to be a path rather than a param

[2016-08-18 18:31] blalbrit commented on #9
@LynnMcRae - please confirm. We all agree this is a good approach, but would like you to weigh in before @mejackreed implements.

[2016-08-18 19:53] LynnMcRae commented on #9
I like the restful path approach.  What's the :format portion of a subtarget ID?  I know its role in requesting output, like .json vs .html, just not how it applies here.

Also, Laney and I had a round of trying to come up with a better name than "subtarget". We tried "core" but wanted amore abstract term. Just mentioning in case anyone has a brilliant aha, otherwise no objection there either.

Do

[2016-08-18 20:00] mejackreed commented on #9
`:format` doesn't apply here. I just copy/pasted from the Rails output. No idea what `rule` is or what that is about. Please tell me more.

As far as `core` is concerned, since Solr is moving away from that probably suboptimal.

[2016-08-18 20:03] lmcglohon commented on #9
@mejackreed @LynnMcRae the rule stuff is another issue - don't worry about that yet.

[2016-08-18 20:06] lmcglohon commented on #9
@mejackreed @LynnMcRae let's not worry about the change of "subtarget" right now as well

[2016-08-18 20:11] mejackreed commented on #9
I realize that the rule stuff is another issue.. could you point to that though for me? I'm interested to see what its about

[2016-08-18 20:17] LynnMcRae commented on #9
"rule" is described at https://consul.stanford.edu/display/GRYPHONDOR/Indexer+APIs+interface, which I will update with today's information.  It's a hook to pass in index-specific rules that only one indexer might need. So far they are a transcription from a whiteboard discussion and should be revisited with the team prior to taking up an implementation.

[2016-08-18 20:33] mejackreed commented on #9
Thanks @LynnMcRae. I'll also be documenting the API within the codebase so that documentation should follow the implementation.

[2016-08-22 14:37] #19 closed, assigned to mejackreed, lmcglohon

[2016-08-22 17:22] blalbrit opened #25 "Load Testing - Dispatcher to Indexing"

[2016-08-22 17:23] blalbrit commented on #25
Could someone who knows about this flesh out this ticket?

[2016-08-22 17:38] drh-stanford commented on #25
see https://github.com/sul-dlss/discovery-dispatcher/issues/81

[2016-08-22 17:38] #22 closed, assigned to nobody

[2016-08-22 17:38] #25 closed, assigned to nobody

[2016-08-22 17:44] mejackreed commented on #9
Closed in BaseIndexer https://github.com/sul-dlss/base_indexer/pull/34

[2016-08-22 17:44] #9 closed, assigned to nobody

[2016-08-22 17:45] #10 closed, assigned to nobody

[2016-08-22 23:42] LynnMcRae opened #26 "Publish should not leave altered <release> tags in identityMetadata"
Proxy ticket for DOR Services https://github.com/sul-dlss/dor-services/issues/226

[2016-08-30 18:35] lmcglohon opened #27 "Make test release example with two different indexing targets"

[2016-08-31 22:09] LynnMcRae opened #28 "Webauth the searchworks-preview application"
This app should be webauth protected and limited to the same group of folks that have access to Argo.  Looking for how we might define this ...

[2016-09-06 18:09] lmcglohon opened #29 "create rake task to clear out sidekick and mySQL to reindex everything"

[2016-09-07 17:37] lmcglohon opened #30 "When the indexing encounters a null title, insert "[Untitled]" as the title instead of aborting indexing"

[2016-09-07 18:59] LynnMcRae commented on #30
The issue stems from items with `\<titleInfo><title/>` in the MODS.  But in general, if the determination of title (however it is done) yields no value or a null string, supply the title "[Untitled]" for the index. This might be addressed at a deeper level, see https://github.com/sul-dlss/stanford-mods/issues/90, but a fix is likely needed sooner, and the index should have its own fallback regardl

[2016-09-08 00:01] peetucket commented on #30
If this should be universally acceptable behavior, making the change in stanford-mods is probably the right place to do it.   Seeing as the methods called to set the title in the sw-indexer are "sw_short_title" and "sw_full_title", I presume it is safe to change those methods in stanford-mods (after all, they have an "sw" prefix).

In either case, I don't think the change occurs in discovery-index

[2016-09-08 01:17] LynnMcRae commented on #30
If Stanford MODS is indeed the source of title for indexing (I wasn't sure, since DOR Services has an algorithm for creating an object tile), I agree https://github.com/sul-dlss/stanford-mods/issues/90 is the better fix.  (Any idea why my comment above has exposed html markup instead of showing links etc?)

The discovery-indexing project is not real code, but for project issue descriptions seeking

[2016-09-08 21:12] peetucket commented on #30
After discussions with Naomi and Laney, we will do this in sw-indexer for now.  I think it is still wise to do it at the stanford-mods level at some point, but since there are other consumers of that, we don't want to change that behavior at the moment.

[2016-09-09 20:11] #30 closed, assigned to peetucket

[2016-09-12 17:23] drh-stanford commented on #29
just to be clear, this is for discovery-dispatcher right?

[2016-09-12 17:48] drh-stanford commented on #29
On discovery-dispatcher:
- [ ] clear MySQL database via `db:reset`
- [ ] clear Sidekiq data
  - [ ] queues `Sidekiq::Queue.new.clear`
  - [ ] statistics `Sidekiq::Stats.new.reset`
  - [ ] retries `Sidekiq::RetrySet.new.clear`
  - [ ] schedules `Sidekiq::ScheduledSet.new.clear`

See https://github.com/mperham/sidekiq/wiki/Console-commands

[2016-09-12 22:26] drh-stanford commented on #29
migrated to https://github.com/sul-dlss/discovery-dispatcher/issues/114

[2016-09-12 22:26] #29 closed, assigned to drh-stanford

[2016-09-19 20:17] LynnMcRae opened #31 "Releasable adds two extraneous attributes to the release tag in identityMetadata (proxy ticket)"
This is a proxy ticket for https://github.com/sul-dlss/dor-services/issues/229

[2016-09-19 20:26] LynnMcRae opened #32 "Release history should show all <release> tags in identityMetadata, not just the latest"
The current release history shows only one entry per target (the latest we believe), not the entire history of release activity.

[2016-09-19 20:29] lmcglohon opened #33 "Create auditing tool for DOR items across Argo, Purl-fetcher, and Searchworks prod index"

[2016-09-19 20:29] mejackreed commented on #32
See: https://github.com/sul-dlss/argo/issues/809

[2016-09-19 20:33] LynnMcRae commented on #32
Redundant with sul-dlss/argo#809

[2016-09-19 20:33] #32 closed, assigned to nobody

[2016-09-19 20:33] #2 closed, assigned to nobody

[2016-09-19 20:47] peetucket commented on #1
- [x] create new web service method in dor-services-app
- [x] move logic from update_marc robot (UpdateMarcRecordService class) in item-release workflow robot suite into a web-service call
- [x] update robot suite to call new web service
- [x] remove logic from update_marc robot
- [x] deploy dor-services-app to test
- [x] deploy item-release robots to test
- [x] confirm everything works
- [x] upda

[2016-09-20 16:18] blalbrit commented on #33
Starting a list of requirements here, since it looks like we have not spec'd this out very well for you:
- output should be a list of druids, not catkeys (we're auditing DOR objects)
- output should be, preferably, columnar (druid, Argo, Purl Fetcher, Searchworks)
- content of columns should be:
1. Argo (true/false)
2. Purl fetcher (true/false)
3. Searchworks (present)

[2016-09-20 22:19] LynnMcRae commented on #26
I verified this is still happening in argo-stage 9/20/16

[2016-09-22 17:41] blalbrit opened #34 "Avoid index-clash when catkey added to already-indexed dor object"
In the event that an object has been indexed to the searchworks-dor index without a catkey, and a catkey is then added to the object, verify that object will be deleted from searchworks-dor before being indexed to searchworks-marc.

@lmcglohon - we believe this case has not been implemented yet, because we weren't dealing with a split index previously, but you may know more.

[2016-09-22 17:59] LynnMcRae commented on #34
We also have to figure out how to tie the addition or removal of a catkey with rerunning the release workflow or perhaps just invoking the 856 logic.

[2016-09-22 22:26] LynnMcRae opened #35 "Release To facet has false values (proxy ticket)"
This is a proxy ticket for https://github.com/sul-dlss/dor-services/issues/234

[2016-09-22 22:55] LynnMcRae commented on #35
moved to media where the work will be done

[2016-09-22 22:55] #35 closed, assigned to nobody

[2016-09-29 20:25] #1 closed, assigned to peetucket

[2016-09-29 20:28] peetucket commented on #11
Where in the publicXML is the thumb declaration supposed to go and what does it look like? @LynnMcRae

[2016-09-29 20:40] #26 closed, assigned to peetucket

[2016-09-29 20:40] #31 closed, assigned to peetucket

[2016-09-29 21:02] LynnMcRae commented on #11
Peter, this story wasn't caught up on our discussion this morning but is now.  It references the dor-services ticket that discusses a change to Publish (and implicitly a sharable DOR method to support it).

[2016-09-30 17:22] peetucket opened #36 "Update dor-services-app update marc record to use new thumb method in dor-services"
Code change occurs in dor-services-app

proxy ticket for sul-dlss/dor-services-app#32

[2016-09-30 17:29] peetucket commented on #11
- [x] Response in publicXML should include druid: prefix to filename
- [x] implement new externalFile rule of thumb

[2016-09-30 18:59] LynnMcRae commented on #11
I revised the Rules of Thumb page to say "containing a <file> or <externalFile> of mimeType="image/jp2". I think that's all the rules of thumb need to say.  I also updated the description of the thumb value as stored in Public XML in https://github.com/sul-dlss/dor-services/issues/236 to reflect this as well.  Note the value should be expressed as druid/filename, e.g.,  <thumb>bk417pg0950/pc0065_b

[2016-09-30 19:04] peetucket commented on #11
So an externalFile of resourcetype="thumb" overrides any local images that happen to have the thumb attribute?  In other words, externalFile checks are not a fallback if none of the local images match?

[2016-09-30 19:25] LynnMcRae commented on #11
"So an externalFile of resourcetype="thumb" overrides any local images that happen to have the thumb attribute? In other words, externalFile checks are not a fallback if none of the local images match?"

Not sure I understand your question.  The rules of thumb and the precedence of resources do not change.  It's only the final criteria at each step -- that it contain a jp2 -- that can be satisfied

[2016-09-30 19:44] peetucket commented on #11
consider this example:

[code]

the first resource is a local image, the second resource is an externalFile of type="page", but it has the "thumb" declaration...therefore the thumb will be the external resource, correct?

[2016-09-30 19:53] LynnMcRae commented on #11
The thumb=yes attribute will be in the <resource> tag

[code]

And yes, "thumb=yes" remains the first determinant in the rules, which essentially don't care if the .jp2 the rules finally land on is a <file> or <externalFile>.

[2016-10-04 20:12] blalbrit opened #37 "Reindex released items to case-normalize the Released to facet"
Proxy for sul-dlss/argo#793

[2016-10-04 20:13] blalbrit commented on #37
see sul-dlss/dor-services#227 for work to be done first

[2016-10-04 20:16] blalbrit opened #38 "Proxy: Add a blue button for 'Manage Release'"
Proxy for sul-dlss/argo#805

[2016-10-04 20:19] blalbrit opened #39 "Proxy: Use dor-services thumb method for determining the thumbnail for display in argo"
see sul-dlss/argo#823

[2016-10-04 20:56] blalbrit commented on #12
We think this is complete.

[2016-10-04 20:56] #12 closed, assigned to nobody

[2016-10-04 22:26] peetucket commented on #39
This is not going to be that straightforward without a full republish to get <thumb> into publicXML and then a full re-index of argo.  See sul-dlss/argo#823 for details

[2016-10-05 20:42] LynnMcRae opened #40 "DevOps checklist and Service Catalog entry"
Need to do as part of full prod deployment.

Rally around "discovery-indexing" as the service umbrella and on-call componentry? We would need to consolidate DevOps checklists around this service definition.

Service catalog entry started here https://consul.stanford.edu/display/DLSC/Discovery+indexing.

[2016-10-05 22:00] #11 closed, assigned to peetucket

[2016-10-06 02:31] blalbrit commented on #40
I have updated the service catalog entry. The only thing outstanding is the DevOps docs at this point, and we can update the service catalog entry when those are complete.

[2016-10-07 17:23] #27 closed, assigned to nobody

[2016-10-07 17:38] blalbrit commented on #34
If a catkey is removed from object, managed 856 should be withdrawn from MARC record

[2016-10-07 17:52] blalbrit commented on #28
Add Stanford-only at a minimum; webauth potentially; ratchet down to Argo-users only?

[2016-10-11 22:56] peetucket commented on #14
Should a collection never inspect its parent collections' release tags (assuming it is a legitimate nested collection and not a data error where it references itself)?

[2016-10-11 23:01] peetucket commented on #14
Also, is there an example druid (-test or -prod) that exhibits this infinite loop behavior to review?

[2016-10-11 23:04] blalbrit commented on #14
@peetucket we had to fix the object in -prod that exhibited this behavior (b/c it took down the indexing scripts). @LynnMcRae - do you remember the way that object was set up well enough to create a version in -test?

[2016-10-12 00:39] LynnMcRae commented on #14
Collection https://argo-stage.stanford.edu/catalog/druid:fs078sw0006 is now a member of itself.  You should have trouble indexing it as well as its member https://argo-stage.stanford.edu/catalog/druid:vs298kg2555 as both recursively access it's parent collection for any inherited release. It takes awhile for the recursion to time out.

[2016-10-17 17:24] #38 closed, assigned to mejackreed

[2016-10-19 21:04] #36 closed, assigned to peetucket

[2016-10-24 17:18] peetucket commented on #14
PR ready: https://github.com/sul-dlss/dor-services/pull/244

[2016-10-24 17:22] lmcglohon commented on #33
Initial description of audit tool: https://consul.stanford.edu/display/GRYPHONDOR/Auditing+the+Discovery+Environment

[2016-10-24 17:39] LynnMcRae opened #42 "Discovery audit - distinguish between missing and shadowed catkeys"
Missing catkeys are likely bad data, while shadowed catkeys might be as expected (Rumsey kept many of its entries shadowed until the opening of the Maps Center). It would be good to distinguish these in the audit findings.  We have various lyberservices calls that can at least verify the existence of a symphony record without actually confirming it is shadowed, but that might be all we need.  See

[2016-10-24 21:20] #14 closed, assigned to peetucket

[2016-10-25 17:16] #34 closed, assigned to mejackreed

[2016-10-25 17:28] #37 closed, assigned to nobody

[2016-10-25 17:51] mejackreed commented on #13
See https://github.com/sul-dlss/argo/issues?q=is%3Aissue+is%3Aopen+label%3A%22results+profile%22 for individual tickets

[2016-10-25 17:52] LynnMcRae opened #43 "Proxy: Change SearchWorks to Searchworks as release target name in Argo"
https://github.com/sul-dlss/argo/issues/849

[2016-10-25 17:53] drh-stanford commented on #40
We need to ensure that _all_ the systems have the correct Nagios checks. @eefahy is this already configured and just need to be documented, or do we need to strategy?

[2016-10-25 18:23] LynnMcRae commented on #17
@eefahy Erin, I am gathering info on the current state of protections for these services.

[2016-10-25 18:34] LynnMcRae commented on #17
These three services are limited to stanford net access and stanford vpn

[2016-10-25 18:34] #17 closed, assigned to LynnMcRae

[2016-10-25 18:48] eefahy commented on #40
Nagios checks have been configured for `purl-fetcher` & `discovery-dispatcher` but not yet for `sw-indexing` - but they have not been updated per the new monitoring scheme @drh-stanford & I came up with for cap. We would like to update those checks before we go into prod correct?

[2016-10-25 20:46] drh-stanford opened #44 "update monitoring endpoints"
we need to ensure that purl-fetcher, discovery-dispatcher, and sw-indexer are all using the correct monitoring endpoints in production. this may involve some implementation work with OkComputer and Nagios/Puppet.

The common endpoints are:
- `/status/default`
- `/status/version`

For purl-fetcher, we also have:
- `/status/database`
- `/status/feature-listener-process`

For discovery-dispatcher, we

[2016-10-25 20:46] drh-stanford commented on #40
yes, that's my understanding. i created a monitoring endpoint ticket here: https://github.com/sul-dlss/discovery-indexing/issues/44

[2016-10-25 21:29] mejackreed commented on #13
All issues are addressed and waiting PR merge /deploy

[2016-10-26 12:18] mejackreed commented on #43
PR here: https://github.com/sul-dlss/argo/pull/850

[2016-10-26 21:44] drh-stanford commented on #40
waiting on https://github.com/sul-dlss/DevOpsDocs/pull/83

[2016-10-27 17:34] drh-stanford commented on #44
There's some debate about whether `/status/feature-targets` should be `/status/external-targets`. but we're leaving it as-is for now.

[2016-10-27 17:34] drh-stanford commented on #44
Needs to be deployed and have nagios configured.

[2016-10-27 20:29] drh-stanford commented on #44
done

[2016-10-27 20:29] #44 closed, assigned to drh-stanford

[2016-10-27 21:41] drh-stanford commented on #40
I've linked the service catalog and devops docs from here -- https://consul.stanford.edu/display/dlssdevops/On+Call+Rotation

[2016-10-31 17:08] #40 closed, assigned to drh-stanford

[2016-10-31 20:40] #13 closed, assigned to nobody

[2016-10-31 20:40] #43 closed, assigned to nobody

[2016-12-02 16:06] #33 closed, assigned to lmcglohon

[2016-12-05 19:27] LynnMcRae opened #54 "Set indicator2=0 for ETDs, EEMs in SDR managed Purls"
These are two cases where we know the Symphony record was created to point to a born-digital resource. In this case the second indicator of the 856 should be a 0 instead of a 1.

Set Ind2=0 for any object whose APO/whose isGovernedBy relationship is
- ETD - druid:bx911tp9024
- EEMs - druid:jj305hm5259

else Ind2=1

[2016-12-05 19:28] LynnMcRae commented on #54
@lmcglohon @blalbrit of interest to you guys

[2016-12-05 19:44] blalbrit commented on #54
@LynnMcRae definitely of interest - this addresses the issues that Greta and Vitus brought up, right?

[2017-01-04 21:49] lmcglohon opened #55 "Rename multiple managed purls output file"
Currently, it is multiple_mangaged_purls.txt but should be multiple_managed_purls.txt

[2017-01-04 21:50] lmcglohon opened #56 "Distinguish between MARC and MODS records when outputting SW discrepancies"

[2017-01-04 21:51] lmcglohon opened #57 "Reprint headings underneath the summary at the top of the output"

[2017-01-04 21:52] lmcglohon opened #58 "Create bash script to prompt for necessary information"
Default to prod servers with searchworks as the target

[2017-01-04 21:53] lmcglohon opened #59 "Add items in collections to multiple managed purl output"

[2017-01-04 21:53] lmcglohon opened #60 "add collections to multiple managed purl output"

[2017-01-04 21:53] lmcglohon opened #61 "output multiple managed purls as CSV and not JSON"

[2017-01-04 22:26] #55 closed, assigned to lmcglohon

[2017-01-05 00:11] #61 closed, assigned to lmcglohon

[2017-01-19 00:17] #57 closed, assigned to nobody

[2017-01-19 00:18] lmcglohon commented on #58
Created in #49

[2017-01-19 00:18] #58 closed, assigned to nobody

[2017-01-19 00:18] lmcglohon opened #64 "Update Readme with new instructions for running new version"

[2017-01-19 18:58] lmcglohon commented on #60
Done in parse_collection_druids

[2017-01-19 18:58] #60 closed, assigned to nobody

[2017-01-19 18:58] lmcglohon commented on #59
Done in parse_collection_druids

[2017-01-19 18:58] #59 closed, assigned to nobody

[2017-01-20 17:33] lmcglohon opened #65 "create a travis build"

[2017-01-20 17:35] lmcglohon opened #66 "create a cron script to run"
To begin with the "Collection Summary" and "Individual Items Summary" reports need to be run weekly with the results emailed to Ben Albritton, Laura Wilsey, Lynn McRae, and Jeanette Kalchik.

Example for mailing resulting file - `mail -s 'multiple managed purls' laneymcg@stanford.edu < /opt/app/lyberadmin/discovery-indexing/multiple_managed_purls.txt`

[2017-01-20 17:37] lmcglohon opened #67 "need shared configs"
Shared configs need to be setup to automatically include the production URLs for the perform_audit script.  Currently, the production URLs are set in the perform_audit script on the discovery-dispatcher prod server but they will get overwritten when new versions of the software are pulled down from github.

[2017-01-20 17:37] lmcglohon opened #68 "need capistrano deployment using shared configs"

[2017-01-20 17:38] lmcglohon opened #69 "need DevOps docs"

[2017-02-15 17:42] peetucket commented on #54
closed and moved to https://github.com/sul-dlss/dor-services-app/issues/67 where the code lives

[2017-02-15 17:42] #54 closed, assigned to nobody

[2017-02-28 19:32] LynnMcRae opened #71 "Remove update-marc step from releaseWF once indexer is performing this function"
Once the work is deployed to do the catkey mapping to an 856 PURL in Symphony downstream during indexing, we want to take this out of the upstream workflow because it is redundant (the two would happen within some 10-15 minutes o each other).

See https://github.com/sul-dlss/sw-indexer/issues/104 for dependent work.